
.container {
  position: relative;
}
.page-exit, 
.page-enter {
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.page-enter {
  transform: translate(100%, 0);
}

.page-enter-active {
  transform: translate(0);
  transition: linear transform 4300ms;
}

.page-exit {
}

.page-exit-active {
  transform: translate(-100%, 0);
  transition: linear transform 4300ms;
}

p {
  font-size: 2em;
}
